header {
	background-color: #4b4a45;
}

header a  {
	text-decoration: none;
}

.logo {
	margin: 0 12px 0 10px;
	height: 66px;
	width: 184px;
	/* float: left; */
	display: inline-block;
}

.menu {
	display: inline-block;
	padding-left: 0;
	margin: 0;
	width: 350px;
/* 	try to compare with version without property */
}

.menu li{
	display: inline-block;
}

.menu img {
	width: 80px;
	height: 66px;
}

form {
	float: right;
	background: white;
	margin: 20px 30px;
	width: 222px;
	height: 20px;
}

form img {
	opacity: 0.5;
	width: 16px;
	height: 16px;
	margin: auto;
	vertical-align: -3px;
}

form input {
	padding: 2px;
	border: none;
	width: 196px;
	height: 15px;
}

nav {
	background: #EEDFAC;
	margin-top: -5px;
}

nav ul {
	padding: 0;
	margin: 0;
}

.menu2 li{
	display: inline-block;
	padding: 5px 0;
	margin-left: 5px;
	height: 24px;
}

.menu2 a, .menu2 a:visited {
	color: #1D71B8;
	padding: 2px 7px;
	vertical-align: -2px;
}

.menu2 a:hover {
	text-decoration: underline;
}















